IoT/NodeRED displayReadings/nodered_flow.json
[{"id":"f70729f1.34ad98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d19b9af6.18ed08","type":"mqtt in","z":"f70729f1.34ad98","name":"","topic":"iot","qos":"2","datatype":"auto","broker":"1eba772d.c4aac9","x":290,"y":400,"wires":[["18499e6.b3cdb62","30966c39.1dde04"]]},{"id":"33d616ba.35fc4a","type":"mqtt out","z":"f70729f1.34ad98","name":"","topic":"ESP","qos":"","retain":"","broker":"1eba772d.c4aac9","x":730,"y":280,"wires":[]},{"id":"9c1d33cb.abcac","type":"tcp in","z":"f70729f1.34ad98","name":"","server":"server","host":"","port":"4120","datamode":"stream","datatype":"buffer","newline":"","topic":"ESP","base64":false,"x":320,"y":280,"wires":[["33d616ba.35fc4a"]]},{"id":"a76cf820.15cca8","type":"comment","z":"f70729f1.34ad98","name":"ESP8266 to MQTT; handle calcs there. Send once every 0.25 seconds.","info":"","x":370,"y":220,"wires":[]},{"id":"d5344248.9365f","type":"comment","z":"f70729f1.34ad98","name":"Send whichever is higher. .py file to be executed when flows start.","info":"","x":320,"y":360,"wires":[]},{"id":"18499e6.b3cdb62","type":"function","z":"f70729f1.34ad98","name":"calcFireRead","func":"var count = context.get('count') || 0;\nvar totalRead = context.get('totalRead') || 0;\nlet value = msg.payload.substring(5);\nlet ID = msg.payload.substring(0,3);\nvar incRead = parseInt(value) % 2000; // to catch outliers\nvar avgRead = 0;\nvar oldMsgTemp = \"\";\nvar currTime = new Date().getTime();\n\nespCount = context.get('espCount') || 0;\nRPiCount = context.get('RPiCount') || 0;\nlet IDout = \"\";\ntotalRead += incRead;\ncount++;\n\nif (!context.lastTime) {\n    context.lastTime = currTime;\n}\n\nif (ID === (\"ESP\")) {\n    espCount++;\n    context.set('espCount');\n}\n\nelse {\n    RPiCount++;\n    context.set('RPiCount');\n}\n\nif (currTime - context.lastTime >= 5000) { // 5 seconds\n    oldMsgTemp = context.get('oldMsgTemp') || -1;\n    oldMsg = { payload: oldMsgTemp };\n    avgRead = totalRead / count;\n    msg.sendFlag = 1;\n    count = 1;\n    totalRead = incRead;\n    context.lastTime = currTime;\n    \n    if (RPiCount >= espCount) {\n        IDout = \"RPi reading: \";\n    }\n    \n    else\n        IDout = \"ESP reading: \";\n    \n    msg.payload = IDout + avgRead; // we want to send this\n    context.set('totalRead', totalRead);\n    context.set('count', count);\n    context.set('oldMsgTemp', msg.payload);\n    msg.oldVal = oldMsgTemp;\n    msg.count = count;\n    return [msg, msg];\n}\n\nelse {\n    msg.avgRead = -1; // intended to be sent only when sendFlag = 1 \n    msg.sendFlag = 0;\n    context.set('totalRead', totalRead);\n    context.set('count', count);\n    msg.oldVal = oldMsgTemp;\n    msg.count = count;\n    return;\n}","outputs":1,"noerr":0,"x":560,"y":400,"wires":[["988148e0.26d768","2109f2e.c01860e"]]},{"id":"30966c39.1dde04","type":"function","z":"f70729f1.34ad98","name":"calcIFTTT","func":"var currTime = new Date().getTime();\nlet value = msg.payload.substring(5)\nvar incRead = parseInt(value) % 2000; // 2000 threshold\nvar average = 0;\nvar strOut = \"\";\n\nif (!context.lastTime) {\n    context.lastTime = currTime;\n    context.sum = 0;\n    context.count = 0;\n}\n\nif (currTime - context.lastTime >= 15000) { // has been 15 sec\n    average = context.sum/context.count;\n    \n    context.sum = incRead;\n    context.count = 1;\n    context.lastTime = currTime;\n    \n    // send\n    strOut = strOut + average;\n    msg.event = \"sendAvgRead\";\n    msg.payload = {\"value1\": strOut};\n    return msg;\n}\n\nelse {\n    context.sum += incRead;\n    context.count += 1;\n    return;\n}","outputs":1,"noerr":0,"x":550,"y":560,"wires":[["f53372e5.048ea"]]},{"id":"988148e0.26d768","type":"firebase out","z":"f70729f1.34ad98","name":"avgReadingDB","ref":"AvgReading","operation":"set","admin":"28c8acd9.1f6aa4","x":900,"y":400,"wires":[[]]},{"id":"e382bb83.76d698","type":"firebase out","z":"f70729f1.34ad98","name":"oldAvgReadingDB","ref":"PreviousAvgReading","operation":"set","admin":"28c8acd9.1f6aa4","x":1010,"y":480,"wires":[["5dc95745.7d7ca8"]]},{"id":"2109f2e.c01860e","type":"change","z":"f70729f1.34ad98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"oldVal","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":480,"wires":[["e382bb83.76d698"]]},{"id":"f53372e5.048ea","type":"http request","z":"f70729f1.34ad98","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/sendAvgRead/with/key/dM2tAo--nj8YbUF2BQTBwl","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":560,"wires":[["6b36e9.249d3918"]]},{"id":"6b36e9.249d3918","type":"debug","z":"f70729f1.34ad98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":560,"wires":[]},{"id":"b47a0628.11fc18","type":"comment","z":"f70729f1.34ad98","name":"Top: Firebase; bottom: IFTTT. We send every 0.25 seconds","info":"","x":240,"y":460,"wires":[]},{"id":"5dc95745.7d7ca8","type":"debug","z":"f70729f1.34ad98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1200,"y":480,"wires":[]},{"id":"1eba772d.c4aac9","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28c8acd9.1f6aa4","type":"firebase admin","z":"","name":"eecs221-HW3"}]